<!DOCTYPE html>

<html lang="en">
<head>
    <title>Users</title>
</head>
<body>
<div class="container">
    <div class="row pt-4 ps-3">
        <div class="col-6">
            <h2 class="text-primary">User list</h2>
        </div>
    </div>

</div>
<table id="tblData" class="table table-bordered table-hover table-primary" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Company</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
</table>
</body>
</html>
@section Scripts
{
    <script src="~/js/user.js"></script>
}
